div.container {
	background-color: #F5F5F5;
	padding: 20px 10px;
}
div.modules {
	border-right: 1px solid #BBBBBB;
	margin-right: -1px;
}
div.syllabuses {
	border-left: 1px solid #BBBBBB;
}
ul.modules {
	padding-left: 6px;
	margin: 0;
	list-style-type: none;
}
ul.modules > li {
	padding-left: 17px;
}
ul.modules > li:before {
	content: "-";
	display: inline-block;
	width: 17px;
	margin-left: -17px;
}
ul.modules > li.selected  > a {
	font-weight: 600;
	color: #111111;
}

div.syllabuses > table {
	width: 100%;
}
div.syllabuses > table tr:not(.table-heading):hover {
	background-color: #EEEEEE;
}
div.syllabuses > table td,
div.syllabuses > table th {
	border: 1px solid #CCCCCC;
	padding: 4px 6px;
}

div.syllabuses > table span.glyphicon {
	font-size: 18px;
	margin-right: 10px;
}