@page {
    size: 21cm 29.7cm;
    margin: 15mm 20mm; // Top and bottom 15 mm, left and right 20 mm
}
#syllabusPrint {
        width: 650px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
        -- margin-top: 100px;
}
#printHeader {
	width: 100%;
    margin-bottom: 15px;
}
/*
@media print {
	#printHeader {
		width: 100%;
		position: fixed;
		top: 0;
	}
}
#divTeachLearnAssesStrategies {
    page-break-after: always;
}
#divsynopsis {
    -- margin-top: 100px;
}
#divLearningOutcomeMapping {
    page-break-after: always;
}
#divTopics {
    -- margin-top: 100px;
}
*/
.pageBreak {
    page-break-after: always;
}

/**** from syllabus.css ****/
#Syllabus {
    float: left;
    width: 100%;
    height: 100%;
    display: block;
    margin-right: 20px;
}

#divSubmitButtons {
    width: 100%;
    margin-top: 20px;
}

.btnSave {
    float: right;
    margin: 5px;
}

.btnBack{
    float: left;
    margin: 5px;
}

.tdNumber {
    text-align: right;
}
.textInput {
    width: 80%;
}
.textarea {
    width: 80%;
}

.numberInput {
    float: right;
    text-align: right;
    width: 40px;
}

.inputDiv {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.inputLabel {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 18%;
}

.textLabel {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 78%;
}

table.tblModulAimsMapping {
	width: 288px;
}

table.tblLearningOutcomeMapping {
	width: 522px;
}

table td,
table th  {
  border: 1px solid #cccccc;
  padding: 4px 6px;
}

table .moduleHead td,
table .moduleHead th {
  border: 0px;
  padding: 0px;
}