@page {
    size: 21cm 29.7cm;
    margin: 15mm 20mm; // Top and bottom 15 mm, left and right 20 mm
}
#syllabusPrint {
        width: 650px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
        -- margin-top: 100px;
}
#printHeader {
	width: 100%;
    margin-bottom: 15px;
}
/*
@media print {
	#printHeader {
		width: 100%;
		position: fixed;
		top: 0;
	}
}
#divTeachLearnAssesStrategies {
    page-break-after: always;
}
#divsynopsis {
    -- margin-top: 100px;
}
#divLearningOutcomeMapping {
    page-break-after: always;
}
#divTopics {
    -- margin-top: 100px;
}
*/
.pageBreak {
    page-break-after: always;
}