RewriteEngine on

# translate:  /module/1 -> /index.php?page=module&id=1
RewriteRule  ^(module|edit|delete)/([a-zA-Z0-9-]+){1}$   /index.php?page=$1&id=$2 [L,QSA,NC]

# translate:  /login -> /index.php?page=login
RewriteRule  ^(login|logout)$   /index.php?page=$1 [L,QSA,NC]