RewriteEngine on

# for production
#RewriteBase /project2/
#RewriteBase /~0329100/assign2/


RewriteCond %{REQUEST_URI} ^/([^/]+)/
RewriteRule ^ - [E=SUBDIR:%1]

ErrorDocument 404  /%{reqenv:SUBDIR}/404.php


# translate:  /login -> /index.php?page=login
RewriteRule  ^(login|logout|users|modules|assessments|mqf|activities|deliveries|syllabusWizard)$   index.php?page=$1 [L,QSA,NC]

# translate:  /module/1 -> /index.php?page=module&id=1
RewriteRule  ^(module|syllabusWizard|syllabusDelete|syllabusPrint|syllabusTopic|syllabusTopicDelete)/([0-9]+){1}$   index.php?page=$1&id=$2 [L,QSA,NC]

# translate:  /users/add -> /index.php?page=module&action=add
RewriteRule  ^(users|modules|assessments|mqf|activities|deliveries)/(add)$   index.php?page=$1&action=$2 [L,QSA,NC]

# translate:  /users/edit/5 -> /index.php?page=users&action=edit&id=5
RewriteRule  ^(users|modules|assessments|mqf|activities|deliveries)/(edit|delete|modules)/([0-9]+){1}$   index.php?page=$1&action=$2&id=$3 [L,QSA,NC]

# translate:  /users/modules/5/add -> /index.php?page=users&action=modules&id=5&action2=add
RewriteRule  ^(users)/(modules)/([0-9]+){1}/(add)$   index.php?page=$1&action=$2&id=$3&action2=$4 [L,QSA,NC]
# translate:  /users/modules/5/remove/7 -> /index.php?page=users&action=modules&id=5&action2=add&id2=7
RewriteRule  ^(users)/(modules)/([0-9]+){1}/(remove)/([0-9]+){1}$   index.php?page=$1&action=$2&id=$3&action2=$4&id2=$5 [L,QSA,NC]
